@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #07413e;
    color: #ff0000;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    background-image: url('https://cdn.wallpapersafari.com/99/11/qxkEbu.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.link-container{
    display: flex;
    flex-direction: column;
}

.link-container button {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #555;
    color: #fff;
    border: 10px thick whitesmoke;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link-container button i {
    margin-right: 10px;
}

.link-container button a {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #21e7d3;
    text-decoration: none;
    color: #000000;
    filter: drop-shadow(0 0 100px #000000);
}

.link-container button:hover {
    background-color: #575050;
}

.profile-photo {
    max-width: 150px;
    margin: 30px auto;
    display: block;
    border-radius: 50%;
    border: 5px solid #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.about-callout {
    background-color: #00000089;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}

.about-callout h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.about-callout h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 100%;
}


h1{
    position: relative;
    color: #111;

}

h1::before{
    content: attr(data-text);
    position: absolute;
    color: #ffffff;
    /* width: 350px; */
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #ffffff;
    animation: animate 4s linear infinite;
    filter: drop-shadow(0 0 20px #0ee2e9);
}

@keyframes animate {
    0%,10%, 50%
    {
        width: 0px;
    }

    100%
    {
        width: 100px;
    }
}

.instagram{
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.A_QLZ7Y9nBwaWnkhCbvGmQHaHZ%26pid%3DApi&f=1&ipt=39bb61f3a6bec1a122cc3fdf3a41a2dddb1b17c268cfb856868625681254ddf0&ipo=images');
    background-size: cover; 
    background-repeat: no-repeat;
    border: none; 
    cursor: pointer;
}

.twitter{
    background-image:url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP._Nlqv4LX_KauLZI5Oe56lgHaFG%26pid%3DApi&f=1&ipt=4265a03adf289516e186a0ad70a3a918e2b3a56cd684ebedc78af3d3993e0363&ipo=images') ;
    background-size: cover; 
    background-repeat: no-repeat;
    border: none; 
    cursor: pointer;
}

.linkedin{
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.tGscL6ta6KaomcIjLzkGnQHaHa%26pid%3DApi&f=1&ipt=754c77a38d292757594c5c6b1265af5dff2f58044953ef27fbef2d999edd75bc&ipo=images');
    background-size: cover; 
    background-repeat: no-repeat;
    border: none; 
    cursor: pointer;
}

.Github{
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.FZGVRUnLT0WHCUnE3lPNrwHaF7%26pid%3DApi&f=1&ipt=ad1d9731217d9368bb3c9158692d23a5f292867ad9ccd21faac9ec3c50cf2d44&ipo=images');
    background-size: cover; 
    background-repeat: no-repeat;
    border: none; 
    cursor: pointer;
    color: #f1f1f1;
    
}

.Telegram{
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogos-world.net%2Fwp-content%2Fuploads%2F2021%2F03%2FTelegram-Logo-2019-present.jpg&f=1&nofb=1&ipt=e3546e62c145bfa7a0ee6ade8317802225d0bcb02359c7f0183bd29ea3171d5f&ipo=images');
    background-size: cover; 
    background-repeat: no-repeat;
    border: none; 
    cursor: pointer;
}

.copyright{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Mukta', sans-serif;
    font-size:12px;
    color: white;
  
  }
  .copyright1{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Mukta', sans-serif;
    font-size:12px;
    color: white;
  }