@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #1D1E23;
    color: #ff0000;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    background-image: url('https://cdn.wallpapersafari.com/99/11/qxkEbu.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.name {
    color: white;
}


.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.link-container {
    display: flex;
    flex-direction: column;
}

.link-container button {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #555;
    color: #fff;
    border: 10px thick whitesmoke;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link-container button i {
    margin-right: 10px;
}

.link-container button a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    filter: drop-shadow(0 0 100px #000000);
    font-weight: 1000;
}

.link-container button:hover {
    background-color: #575050;
}

.profile-photo {
    max-width: 150px;
    margin: 30px auto;
    display: block;
    border-radius: 50%;
    border: 5px solid #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-callout {
    background-color: #00000089;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}

.about-callout h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.about-callout h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 100%;
}

h1 {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

h1 span {
    color: #ff0000;
    position: relative;
}

h1 span::before {
    content: "";
    height: 30px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: #ff0000;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}

h1 span.stop-blinking::before {
    animation: none;
}

@keyframes blink {
    50% {
        opacity: 0
    }
}

.instagram {
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.twitter {
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.linkedin {
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.Github {
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    color: #f1f1f1;

}

.Telegram {
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.copyright {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Mukta', sans-serif;
    font-size: 12px;
    color: white;

}

.copyright1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Mukta', sans-serif;
    font-size: 12px;
    color: white;
}
